Repository akashMurugesh/portfolio-website, pull requests merged in 2023-10, with the labels that each got.

#1 Added Nav Headings
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
Labels: enhancement, sidebar

#2 Chore: Created PR Template
  .github/pull_request_template.md
Labels: chore

#3 Feat: Implemented Page Routing
  package-lock.json
  package.json
  src/App.tsx
  src/components/Sidebar/Sidebar.tsx
  src/main.tsx
  src/pages/BlogContentPage.tsx
  src/pages/BlogPage.tsx
  src/pages/ErrorPage.tsx
  src/pages/HomePage.tsx
Labels: sidebar, feature

#4 Feat: Implemented Error Screen UI
  src/assets/image/error-image.svg
  src/components/ErrorScreen/ErrorScreen.css
  src/components/ErrorScreen/ErrorScreen.tsx
  src/pages/ErrorPage.tsx
Labels: feature, platform
